announcement-bar {
  --section-padding-top: 0.9rem;
  --section-padding-bottom: 0.9rem;
  position: relative;
  display: block;
}

.announcement-bar {
  overflow: hidden;
  font-family: var(--font-body-family);
  font-size: 1.2rem;
  letter-spacing: 0.06em;
  line-height: 1.25;
  position: relative;
  z-index: 30;
  text-align: center;
  color: rgb(var(--color-foreground));
  background: var(--gradient-background);
  background-color: rgb(var(--color-background));
}

@media screen and (min-width: 750px) {
  .announcement-bar {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 980px) {
  announcement-bar {
    --section-padding-top: 1.3rem;
    --section-padding-bottom: 1.3rem;
  }
}

.announcement-bar--withBorder {
  border-bottom: 0.1rem solid rgb(var(--color-border));
}