.image-with-text__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding-top: 3rem;
}

.image-with-text__content > * + * {
  margin-top: 2rem;
}

.image-with-text__content > * + :is(.image-with-text__heading) {
  margin-top: 0.5rem;
}

.accordion-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border-left: 0.3rem solid #B9644C;
  background-color: #F5F4ED;
}

.accordion-box:first-of-type {
  margin-top: 3rem;
}

.accordion-box:not(:first-of-type) {
  margin-top: 1.2rem;
}

.accordion-box .tab-img-cover {
  flex-grow: 1;
  max-width: 8rem;
  width: 100%;
  text-align: center;
}

.accordion-box accordion-tab {
  max-width: calc(100% - 9rem);
  width: 100%;
  border: none;
  margin-top: 0;
}

.accordion-box accordion-tab summary {
  padding-left: 0;
}

.accordion-box .icon-plus-alt::before{
  background-color: rgb(var(--color-button));
  height: 0.2rem;
}

.accordion-box .icon-plus-alt::after {
  background-color: rgb(var(--color-button));
  width: 0.2rem;
}

.accordion-box accordion-tab .accordion__title {
  font-size: 1.6rem;
  font-family: var(--font-body-family);
  font-weight: 600;
  color: rgb(var(--color-foreground));
}

.accordion-box .tab-img-cover .tab-img {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.accordion-box:has(details[open]) .tab-img-cover .tab-img {
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse {
    flex-direction: row-reverse;
  }
  
  .image-with-text .image-with-text__content {
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
  }
  
  .image-with-text .image-with-text__grid--reverse .image-with-text__content {
    padding-inline-start: 0;
  }
  
  .image-with-text .image-with-text__grid:not(.image-with-text__grid--reverse) .image-with-text__content {
    padding-inline-end: 0;
  }

  .image-with-text__content.right {
    align-items: flex-end;
    margin-inline-start: auto;
  }

  .image-with-text__content.right .card--product+.card-information .card-information__top {
    justify-content: flex-end;
  }

  .image-with-text__content.middle {
    justify-content: center;
  }

  .image-with-text__content.bottom {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 980px) {
  .image-with-text .image-with-text__content {
    padding-inline-start: 7rem;
    padding-inline-end: 7rem;
  }
}

@media screen and (min-width: 1380px) {
  .image-with-text .image-with-text__content {
    padding-inline-start: 10rem;
    padding-inline-end: 10rem;
  }
}